<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2a3a5">  <td>19/09/03 23:39:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CrossBrowserScript.beforeTest()[pri:0, instance:parallelTest.CrossBrowserScript@51081592]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>19/09/03 23:39:51</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrossBrowserScript.f()[pri:0, instance:parallelTest.CrossBrowserScript@51081592]">f</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>19/09/03 23:39:51</td>   <td>29</td> <td>&nbsp;</td><td title="&lt;&lt;CrossBrowserScript.afterTest()[pri:0, instance:parallelTest.CrossBrowserScript@51081592]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
</table>
