<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:32</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CrossBrowserScript.afterTest()[pri:0, instance:parallelTest.CrossBrowserScript@548a9f61]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1353524477</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:37</td>   <td>4404</td> <td>&nbsp;</td><td title="&lt;&lt;CrossBrowserScript.afterTest()[pri:0, instance:parallelTest.CrossBrowserScript@5b275dab]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1227490920</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:20</td>   <td>-12575</td> <td>&nbsp;</td><td title="&gt;&gt;CrossBrowserScript.setup(java.lang.String)[pri:0, instance:parallelTest.CrossBrowserScript@5b275dab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1227490920</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:20</td>   <td>-12575</td> <td>&nbsp;</td><td title="&gt;&gt;CrossBrowserScript.setup(java.lang.String)[pri:0, instance:parallelTest.CrossBrowserScript@548a9f61]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1353524477</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:23</td>   <td>-8987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrossBrowserScript.testParameterWithXML()[pri:0, instance:parallelTest.CrossBrowserScript@548a9f61]">testParameterWithXML</td> 
  <td>TestNG-tests-1@1353524477</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>19/09/04 15:49:27</td>   <td>-5012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CrossBrowserScript.testParameterWithXML()[pri:0, instance:parallelTest.CrossBrowserScript@5b275dab]">testParameterWithXML</td> 
  <td>TestNG-tests-2@1227490920</td>   <td></td> </tr>
</table>
